<ion-header translucent>
  <ion-toolbar class="py-16">
    <ion-title>Request</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" [value]="segment">
      <ion-segment-button value="processed">
        <ion-label>To be proccesssed</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label>Completed</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="10">
        <ion-searchbar placeholder="search for request"></ion-searchbar>
      </ion-col>
      <ion-col size="2">
        <ion-button fill="clear" class="filter-btn">
          <ion-icon name="filter"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-slides pager="false" [options]="slideOpts">
        <ion-slide *ngFor="let item of speakers; let i = index">
          <ion-card>
            <ion-item lines="none">
              <ion-icon color="warning" name="file-text" slot="start"></ion-icon>
              <ion-label>{{item.name | abbrev}}</ion-label>
            </ion-item>
            <ion-card-content class="pt-0">
              <div class="container">
                <!-- completed -->
                <div class="step completed">
                  <div class="v-stepper">
                    <div class="circle"></div>
                    <div class="line"></div>
                  </div>

                  <div class="content">
                    <div class="ion-text-left"><span class="fs13">Approval Stage: Processing</span></div>
                    <div class="ion-text-left"><b><small>Approved: 09/09/2022</small></b></div>

                  </div>
                </div>

                <!-- active -->
                <div class="step active">
                  <div class="v-stepper">
                    <div class="circle"></div>
                    <div class="line"></div>
                  </div>
                  <div class="content">
                    <div class="ion-text-left"><span class="fs13">Next Stage: End</span></div>
                    <div class="ion-text-left"><b><small>Approved: pending</small></b></div>
                  </div>
                </div>
              </div>
             <ion-row class="ion-justify-content-between">
              <ion-button class="btn-success">Approve</ion-button>
              <ion-button class="btn-danger">Reject</ion-button>
             </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-card *ngFor="let item of speakers; let i = index">
      <ion-card-content>
        <ion-item lines="none">
          <div class="abbrev" slot="start" [ngStyle]="{background: item.bg}">
            {{item.name | abbrev}}
          </div>
          <ion-label class="ion-text-wrap">
            <b>{{item.name}}</b>
            <h6>{{item.location}}</h6>
            <p>Date: {{date | date}}</p>
          </ion-label>
          <ion-button fill="outline"> Open</ion-button>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ion-grid>
</ion-content>
