ion-content{
 
  --background: url('/assets/img/PossapLogo.svg') 50% 0/67% 118%  no-repeat;
  --background-size: contain;
  //background-position: 50% 20;
  // left: 33%;
  // right: 0;
  // top: 48%;
  // bottom: 0;
  // position: absolute;
  // z-index: -1;
  // background: #000;
}
ion-grid{
  // background: var(--ion-item-background, var(--ion-background-color, #fff));
  background: rgb(235, 240, 246, 0.2);
}
.item-card {
  background-size: cover !important;
  background-position: 0 0 !important;
  height: 200px;
  color: #fff;
  border-radius: 24px;
}
.opacity-60 {
  opacity: 0.6 !important;
}
.bg-gradient {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 0.1) 30%,
    rgba(0, 0, 0, 0.8) 70%,
    black 100%
  ) !important;
}
.card-overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
.card-style .card-overlay {
  border-radius: 20px;
}
ion-item,
ion-list {
  --background: none;
  background: none;
  color: #fff;
}

.search-card {
  border-radius: 24px;
  ion-icon,
  h3 {
    color: #000;
  }
  span {
    color: initial;
    font-size: 12px;
  }
}
.searchBtn {
  height: 36px;
  margin-top: 12px;
  ion-icon {
    color: #fff;
  }
}
.slide-details {
  color: #fff !important;
  text-align: left;
  font-size: 10px;
}
.zIndex {
  z-index: 10;
}
.serviceTitle {
  font-size: 18px;
  padding-bottom: 10px;
}
.service-card {
  border-radius: 24px;

  h5 {
    font-weight: 700;
  }
  ion-text, span {
    font-size: 11px;
    line-height: 0;
  }
  ion-icon{
    font-size: 18px;
    color: #fff;
  }
}
.pos-absolute {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30;
  height: 30px;
  background: var(--ion-color-primary);
  color: #fff;
  border-radius: 0px 0px 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-searchbar {
  --border-radius: 20px;
  --padding-left: 28px;
  margin-left: 5%;
  // --background: #fff
}
.icon-bg {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.icon-bg {
  align-items: center;
  appearance: none;
  background-color: #3eb2fd;
  background-image: linear-gradient(1deg, #4f58fd, #149bf3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 12px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: CircularStd, sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 20px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s, background-position 0.2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}
.icon-bg-info{
    background-image: linear-gradient(1deg, #4e865a, #48f314 99%); 
}
