<app-header
  [isHome]="true"
  [showProfile]="true"
  [showSos]="false"
  title="{{'home' | translate}}"
></app-header>

<ion-content>
  <ion-grid>
    <ion-item class="welcome" lines="none">
      <ion-label color="dark" lines="none">
        <h2>
          <ion-text color="dark" weight="bold"
            >{{'hello' | translate}}, {{user?.Fullname}}</ion-text
          >
        </h2>
        <p><ion-text color="dark">{{'GoodToSeeYou' | translate}}!</ion-text></p>
      </ion-label>
    </ion-item>

    <ion-slides pager="false" [options]="slideOpts">
      <ion-slide *ngFor="let speaker of speakers; let i = index">
        <ion-card class="item-card" [ngStyle]="{background: getBg(i)}">
          <div class="card-overlay bg-gradient opacity-60"></div>
          <ion-card-header>
            <ion-item
              detail="false"
              lines="none"
              class="speaker-item"
              routerLink="/app/tabs/speakers/speaker-details/{{speaker.id}}"
            >
              <ion-label>
                <ion-badge color="warning" slot="start">POSSAP</ion-badge>
              </ion-label>
            </ion-item>
          </ion-card-header>

          <ion-card-content class="pt-64 zIndex">
            <span class="ion-text-wrap slide-details">
              {{'slide1' | translate}}
            </span>
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-row>
      <ion-col size="12">
        <!-- <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center"
              >{{user?.fullName}}</ion-card-title
            >
          </ion-card-header>

          <ion-card-content class="ion-text-start-center">
            <ion-list lines="none">
              <ion-item>
                <ion-icon name="apnumber" color="dark" slot="start"> </ion-icon>
                <ion-label color="dark">{{user?.apNumber}} </ion-label>
              </ion-item>
              <ion-item>
                <ion-icon name="mail" color="dark" slot="start"> </ion-icon>
                <ion-text color="dark" style="margin-inline-start: 10px"
                  >{{user?.email}}
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-icon name="rank" color="dark" slot="start"> </ion-icon>
                <ion-text color="dark" style="margin-inline-start: 10px"
                  >{{user?.access?.role}}
                </ion-text>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card> -->
      </ion-col>
    </ion-row>
    <!-- <app-my-map></app-my-map> -->
  </ion-grid>
</ion-content>
