<div class="ion-page">
  <ion-header>
    <ion-toolbar>
      <ion-title>
        <div class="ion-text-wrap s13-h15">{{request.ServiceName}}</div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content *ngIf="request" class="ion-no-padding px-10">
    <form  [formGroup]="pccForm" class="form-container">
      <ion-item class="">
        <ion-label position="floating">Request ID</ion-label>
        <ion-input [disabled]="true" [value]="request.RequestId"></ion-input>
      </ion-item>
      <ion-item *ngIf="showRequestStage" >
        <ion-label position="floating">Request Stage</ion-label>
        <ion-select mode="ios" formControlName="SelectedRequestStage" placeholder="Select a stage">
          <ion-select-option *ngFor="let i of request.RequestStages" [value]="i.Id">{{i.PositionName | titlecase}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <div *ngIf="showRequestStage &&(SelectedRequestStage.dirty || SelectedRequestStage.touched) && SelectedRequestStage.errors"
        class="errors">
        <span *ngIf="SelectedRequestStage.errors?.required">SelectedRequestStage is required</span>
      </div>

      <ion-item *ngIf="ShowReferenceNumberForm">
        <ion-label position="floating">Policy File Reference Number</ion-label>
        <ion-input formControlName="RefNumber"></ion-input>
      </ion-item>
      <div *ngIf="ShowReferenceNumberForm && (RefNumber.dirty || RefNumber.touched) && RefNumber.errors" class="errors">
        <span *ngIf="RefNumber.errors?.required">Reference Number is required</span>
      </div>
      <ion-item>
        <ion-label position="floating">Comment</ion-label>
        <ion-textarea formControlName="Comment"></ion-textarea>
      </ion-item>
      <div *ngIf="(Comment.dirty || Comment.touched) && Comment.errors" class="errors">
        <span *ngIf="Comment.errors?.required">Comment is required</span>
      </div>

    


    </form>

  </ion-content>
  <ion-footer class="ion-padding">
    <ion-row>
      <ion-col>
        <ion-button (click)="dissmissModal()" fill="outline" expand="block">Cancel</ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="submitForm()" [disabled]="!pccForm.valid" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</div>
